<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <script src="{{config_site_url}}/static/js/main.js"></script>
    <link rel="stylesheet" href="{{config_site_url}}/static/css/framework.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{config_site_url}}/static/css/main.css" type="text/css" media="screen" />
    <style></style>
</head>
