<!doctype html>
<html lang="en">
<head><meta charset="utf-8"><title>{{ title | default(value="Example notebook") }}</title><link rel="stylesheet" href="/css/styles.css"></head>
<body>{% block content %}{% endblock content %}</body>
</html>
